.btn {
  border: 1px solid transparent;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn--success {
  background: radial-gradient(
      92.09% 85.42% at 86.3% 87.5%,
      rgba(0, 0, 0, 0.23) 0%,
      rgba(0, 0, 0, 0) 86.18%
    ),
    radial-gradient(
      65.28% 65.28% at 26.39% 20.83%,
      rgba(255, 255, 255, 0.413) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ec0e52;
  border-radius: 100px;
  min-height: 50px;
  color: white;
  font-size: 18px;
  min-width: 193px;
    &:hover{
     box-shadow: 4px 38px 62px 0 rgba(219, 17, 79, 0.5),
    inset 0px 0px 20px rgba(250, 248, 248, 1);
    color: white;
  }
}

// .btn--success:hover {
  // box-shadow: inset 0px 0px 20px rgba(250, 248, 248, 1);
  // color: rgb(247, 203, 203);
// }

/* .btn--success:focus {
  border: 1px solid #2b2b63;
  background: #d6a6f7;
  box-shadow: 0px 0px 20px white !important;
  color: white;
} */

// .btn--light svg {
//   width: 20px;
//   height: 20px;
//   fill: chocolate;
// }

// .btn--light:hover svg {
//   fill: var(--red);
// }

// .btn--empty {
//   background: white;
//   border: 1px solid var(--red);
// }

// .btn--empty:hover {
//   background: #9999ff;
//   border: 1px solid #0000cc;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--empty:focus {
//   border: 1px solid #0000cc;
//   background: #3333ff;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--light:hover,
// .btn--cross:hover {
//   background: #9999ff;
//   border: 1px solid #0000cc;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--light:focus,
// .btn--cross:focus {
//   border: 1px solid #0000cc;
//   background: #3333ff;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--success-icon {
//   min-width: 300px;
//   height: 40px;
//   background: rgb(12, 185, 133);
//   border: 3px solid rgb(12, 185, 133);
//   border-radius: 10px;
//   cursor: pointer;
// }

// .btn--success-icon svg,
// .btn--success-icon span {
//   color: white;
//   fill: white;
// }

.but-wave {
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  
}
.btn-test{
margin: 200px 0 0 0;
padding: 10px 20px;

}

.addDiv {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: pulse 0.3s ease-in-out;
  transform: scale(0);
  position: absolute;
  background-color: white;
}

@keyframes pulse {
  to {
    transform: scale(2);
    background: white;
    opacity: 0;
  }
}
