.galery__nav {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 20px 20px;
  justify-content: center;
  margin: 20px 0 0;
}

.galery__nav-item {
  box-shadow: 0 0px 10px 0 rgba(24, 16, 16, 0.4);
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.galery__nav-item._is-active {
  box-shadow: 0 0px 25px 0 rgba(24, 16, 16, 0.4);
  outline: 4px solid white;
}

.galery__nav-item:hover {
  box-shadow: 0 0px 15px 0 rgba(24, 16, 16, 0.4);
}

.galery__nav-item[data="all"] {
  background-color: rgb(224, 224, 182);
}

.galery__nav-item[data="red"] {
  background-color: var(--red);
}

.galery__nav-item[data="blue"] {
  background-color: var(--blue);
}

.galery__nav-item[data="green"] {
  background-color: var(--green);
}

.galery__nav-item[data="coral"] {
  background-color: var(--coral);
}

.galery__item[data='red'] {
  outline: 2px solid var(--red);
}

.galery__item[data='blue'] {
  outline: 2px solid var(--blue);
}

.galery__item[data='green'] {
  outline: 2px solid var(--green);
}

.galery__item[data='coral'] {
  outline: 2px solid var(--coral);
}

.galery__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px 0;
  min-height: 360px;
}

.galery__items._is-active {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.galery__item {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  cursor: pointer;
  width: 200px;
  height: 0px;
  min-width: 200px;
}

.galery__item._start-item {
  transform: scaleY(1);
  opacity: 1;
  width: 200px;
  height: 300px;
  min-width: 200px;
}

.galery__item._is-anim-open {
  animation: open .3s ease-out;
  animation-fill-mode: forwards;
}

.galery__item._is-anim-close {
  animation: close .3s ease-out;
  animation-fill-mode: forwards;
}

.popup__content._is-active{
  display: none;
}








@keyframes open {
  0% {
    opacity: 0;
    transform: scaleY(0);
    width: 0px;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    width: 200px;
    height: 300px;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    transform: scale(1);
    width: 200px;
    height: 300px;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    width: 0px;
    height: 0px;
  }
}

/* ================== */
#slider-galery .slider__item{
  min-height: 60vh;
}

#slider-galery{
display: none;
}


#slider-galery{

}

#slider-galery{

}


/* ============================== */




@media (max-width: 1199px) {
  .galery__items {
    justify-content: center;
    /* margin: 0; */
  }
}

@media (max-width: 767px) {
  .galery__nav {
    grid-template-columns: 1fr;
    gap: 20px 20px;
    margin: 20px auto;
    max-width: 200px;
  }
}




